[submodule "Modules/Connect"]
	path = Modules/Connect
	url = http://github.com/extjs/Connect.git
[submodule "Modules/nStore"]
	path = Modules/nStore
	url = http://github.com/creationix/nstore.git
[submodule "Modules/grain"]
	path = Modules/grain
	url = http://github.com/creationix/grain.git
[submodule "Modules/nstore-session"]
	path = Modules/nstore-session
	url = http://github.com/creationix/nstore-session.git
[submodule "Modules/step"]
	path = Modules/step
	url = http://github.com/creationix/step.git
