[submodule "modules/grain"]
	path = modules/grain
	url = http://github.com/creationix/grain.git
[submodule "modules/nstore-session"]
	path = modules/nstore-session
	url = http://github.com/creationix/nstore-session.git
[submodule "modules/step"]
	path = modules/step
	url = http://github.com/creationix/step.git
[submodule "ivy-bin"]
	path = ivy-bin
	url = http://github.com/creationix/ivy-bin.git
[submodule "module/nStore"]
	path = module/nStore
	url = http://github.com/creationix/nstore.git
[submodule "modules/connect"]
	path = modules/connect
	url = http://github.com/senchalabs/connect.git
