[submodule "modules/grain"]
	path = modules/grain
	url = http://github.com/creationix/grain.git
[submodule "modules/nstore-session"]
	path = modules/nstore-session
	url = http://github.com/creationix/nstore-session.git
[submodule "modules/step"]
	path = modules/step
	url = http://github.com/creationix/step.git
[submodule "ivy-bin"]
	path = ivy-bin
	url = http://github.com/creationix/ivy-bin.git
[submodule "modules/connect"]
	path = modules/connect
	url = http://github.com/senchalabs/connect.git
[submodule "modules/spark"]
	path = modules/spark
	url = http://github.com/senchalabs/spark.git
[submodule "modules/wheat"]
	path = modules/wheat
	url = http://github.com/creationix/wheat.git
[submodule "modules/proto"]
	path = modules/proto
	url = http://github.com/creationix/proto.git
[submodule "modules/node-git"]
	path = modules/node-git
	url = http://github.com/creationix/node-git.git
[submodule "modules/haml-js"]
	path = modules/haml-js
	url = http://github.com/creationix/haml-js.git
[submodule "modules/nstore"]
	path = modules/nstore
	url = http://github.com/creationix/nstore.git
[submodule "modules/express"]
	path = modules/express
	url = http://github.com/visionmedia/express.git
[submodule "modules/less.js"]
	path = modules/less.js
	url = http://github.com/cloudhead/less.js.git
[submodule "modules/world-db"]
	path = modules/world-db
	url = http://github.com/creationix/world-db.git
[submodule "modules/postgres-js"]
	path = modules/postgres-js
	url = http://github.com/creationix.com/postgres-js.git
[submodule "modules/class"]
	path = modules/class
	url = http://github.com/creationix/class.git
